#form1{
background-color: rgb(63, 100, 83);
margin-left: 30%; 
text-align: center;
width: 40% ;
border:3px solid rgb(48, 148, 161) ; 
border-radius: 20%;
-moz-perspective: 800px;
} 
body{
padding: 0px 10px;
background: url('http://thecodeplayer.com/uploads/media/wood_pattern.png') repeat;
}
.register{
  border-radius : 30%;
  border:3px solid rgb(48, 148, 161) ; 
  height : 40px;
  width : 120px;
  text-align: center;
}
.register:hover{
  color: hsl(112, 84%, 42%);
}
header{
margin-left : 30% ;
margin-right: 30%;
text-align: center;
background-color: brown;
}
.radius{
border-radius: 15px 15px;
height: 30px;
text-align: center; 
}
.login:hover{
color: black;
}
input[type=radio] {
  border: 1px solid #fff;
  padding: 0.5em;
  -webkit-appearance: none;
}

input[type=radio]:checked {
  background: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center;
  background-size: 9px 9px;
}

input[type=radio]:focus {
  outline-color: transparent;
} 